# Connection pooling (Usado en producción / runtime por Prisma Client)
DATABASE_URL="postgresql://postgres.odthxdluedgwghzhlsqk:wompitest2026@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection (Usado para migraciones con Prisma CLI)
DIRECT_URL="postgresql://postgres.odthxdluedgwghzhlsqk:wompitest2026@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
