# Dependencies
node_modules/

# Build & Compiled Output
dist/
dist-ssr/
build/
out/
*.tsbuildinfo
*.timestamp-*-*.mjs
.eslintcache

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & System Files
.DS_Store
Thumbs.db

# IDEs & Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*.launch
.settings/
.project
.classpath

# Testing & Cobertura
coverage/
.nyc_output/
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# Temporales & Runtime
.temp/
.tmp/
pids/
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
